@font-face {
  font-family: 'Jost';
  // src: url('./src/assets/fonts/Jost-VariableFont_ital,wght.ttf') format('truetype');
  src: url('./src/assets/fonts/Jost-Regular.ttf') format('truetype');
}

body {
  font-family: 'Jost';
  background-color: #16202c  
}
